version: '3.9'

services:
    cassandra:
        container_name: cassandra
        image: bitnami/cassandra:4.0.7
        network_mode: {{ docker_network_name }}
        ports:
            - '9042:9042'
        restart: unless-stopped
        environment:
            - cluster_name={{ cassandra_cluster_name }}
            - username={{ cassandra_user_name }}
            - password={{ cassandra_user_passwd }}
        volumes:
            - 'cassandra_data:/bitnami'

volumes:
  cassandra_data:
    driver: local
