version: '3.9'
services:
    media-api:
        build: /var/www/{{project_name}}/media-api
        restart: always
        container_name: media-api
        network_mode: {{ docker_network_name }}
        image: media-api
        volumes:
          - ../env:/usr/src/app/.env
