// This file can be replaced during build by using the `fileReplacements` array.
// `ng build --prod` replaces `environment.ts` with `environment.prod.ts`.
// The list of file replacements can be found in `angular.json`.

export const environment = {
  production: true,
  apiUrl: 'https://{{ api_url_domain }}/',
  studioUrl: 'studios/api/v1/',
  mediaUploadUrl: 'mediauploads/api/v1/',
  mediaDetailsUrl: 'mediadetails/api/v1/',
  mediaViewsUrl: 'mediaview/api/v1/',
  adminApiUrl: 'admin/api/v1/',
  usersApiUrl: 'users/api/v1/',
  paymentApiUrl: 'payment/api/v1',
  bucketUrl: 'https://{{ aws_s3_bucket }}.s3.{{ aws_region }}.amazonaws.com/',
  bucketImageUrl: 'https://{{ aws_s3_bucket }}.s3.{{ aws_region }}.amazonaws.com/',
  bucketVideoUrl: 'https://{{ aws_s3_bucket }}.s3.{{ aws_region }}.amazonaws.com/',
  akamaiImageUrl: 'https://{{ aws_s3_bucket }}.s3.{{ aws_region }}.amazonaws.com/',
  encryption_key: 'vplayed@contus',
  countdown_seconds: 61,
  COOKIE_ID: 'vplayed_DEV_SID',
  COOKIE_EXPIRY_DATE: 5,
  gudshoUrl: 'https://{{ frontend_url_domain }}/',
  cookieDomain: '{{ cookiedomain }}',
  studioDomain: 'https://{{ studio_url_domain }}/',
  firebaseConfig: {
    apiKey: "AIzaSyAl3mr4PdEF2Wr8xgs6FqPAnkq-5rRughY",
    authDomain: "vplay-product.firebaseapp.com",
    databaseURL: "https://vplay-product.firebaseio.com",
    projectId: "vplay-product",
    storageBucket: "vplay-product.appspot.com",
    messagingSenderId: "622002878280",
    appId: "1:622002878280:web:8faeabf186d25f881ca57d",
    measurementId: "G-KYRP817DR5"
  },
  imageDimensions: [
    { value: 'image/png' },
    { value: 'image/jpeg' },
    { value: 'image/jpg' }
  ],
  studio_image_width: 200,
  studio_image_height: 200,
  series_image_width: 400,
  series_image_height: 252,
  promo_image_width: 500,
  promo_image_height: 294,
  thumbnail_image_width: 300,
  thumbnail_image_height: 435,
  audio_image_width: 300,
  audio_image_height: 300,
  feed_poster_image_width: 600,
  feed_poster_image_height: 450,
  poster_image_min_width: 1920,
  poster_image_min_height: 904,
  poster_image_max_width: 1960,
  poster_image_max_height: 900,
  studio_banner_min_width: 3000,
  studio_banner_min_height: 531,
  mobile_cover_min_width: 840,
  mobile_cover_min_height: 1050,
  home_banner_width: 1920,
  home_banner_height: 737,
  mobile_poster_image_width: 720,
  mobile_poster_image_height: 544,
  mobile_studio_banner_image_width: 760,
  mobile_studio_banner_image_height: 400,
  title_image_height: 200,
  commission_perentage: 12,
  tax_percentage: 18,
  max_studio_image_width: 300,
  max_studio_image_height: 200,
  min_studio_image_width: 120,
  min_studio_image_height: 45,
  min_title_image_height: 45,
  min_title_image_width: 120,
  max_title_image_height: 300,
  max_title_image_width: 400,
  serverError500: 'There was a problem with your submission. Please contact GudSho administrator at  +91-4356 700 060 or write to support@gudsho.com',
  transcoding_job_status: {
    key: 'job_status',
    value: 3
  },
  s3_job_status: {
    key: 's3_job_status',
    value: 2
  },
  partner_slug: 'partner_studio',
  partner_params: 'partner',
  sho_url: '/media/',
  Promo_url:'/watch/promo/',
  episoide_url:'/watch/series/',
  urlPattern:'(https:\/\/)([\\da-z.-]+)\\.([a-z.]{2,6})[/\\w .-]*/?',
  videoSize: 10 // as MB
};
